nav {
  // min-width: 100vw;
  background-color: white;
  min-height: 7vh;
  // max-height: 13vh;
  color: black;
  grid-column: 1/3;
  z-index: 1;
  ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;

    li {
      margin: 10px;
      font-size: 1.1rem;
      font-weight: 600;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  nav {
    ul {
      justify-content: space-evenly;
    }
  }
}
